[flake8]
# match Black’s default line length
max-line-length = 88

# Black’s spacing before ':' will be ignored
extend-ignore = E203

# skip third-party, build artifacts and your front-end
exclude =
    .git,
    __pycache__,
    node_modules,
    frontend,
    .next
